/* inbox css */
.inbox > div {
   height: 25rem;
 }

 .message-text {
  font-size: 1.15rem;
  line-height: 1.25;
}

.border-inbox{
  border-top: 5px solid;
  border-left: 0;
}
 
 @media (min-width: 768px) {
   .inbox > div {
     height: 30rem;
   }
   .border-inbox{
    border-top: 0;
    border-left: 5px solid;
  }
   
 }

 